<div class="d-flex flex-column flex-shrink-0 text-white bg-dark" style="width: 280px; height: 100vh;">
    <a routerLink="" class="align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"></svg>
      <span class="fs-4">To much</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="" class="nav-link" aria-current="page">
          <svg class="bi me-2 list-group-item list-group-action" width="16" height="16"><use xlink:href="#home"></use></svg>
          Ranking de artistas
        </a>
      </li>
      <li>
        <a routerLink="Form" class="nav-link text-white" aria-current="page">
          <svg class="bi me-2 list-group-item list-group-action" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Formulario
        </a>
      </li>
      <li>
        <a routerLink="Test" class="nav-link text-white" aria-current="page">
          <svg class="bi me-2 list-group-item list-group-action" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Test
        </a>
      </li>
    </ul>